.statistics {
  background: var(--green);
}

.number-counter-section.statistics {
  padding: 5rem 0;
}

.curvy-section.statistics .curvy-area.curvy-area-bottom {
  top: 20px;
  margin-bottom: -30px;
}

.statistics .animated-number {
  font-size: 4rem;
  font-weight: normal;
}

.statistics .counter-value {
  margin-right: 7px;
}

.statistics .icon-title {
  font-size: 2.4rem;
}

@media screen and (max-width: 767px) {
  .statistics .col-md-4 + .col-md-4 {
    margin-top: 20px;
  }
}
