
footer{
    

    .main-footer{
        background: var(--color-primary-dark);
        padding: 5rem;

        @media only screen and (max-width: $bp-smallest) {
            padding: 3.6rem 2rem;
         }
    }

    .copywrite-bg{
        background: var(--color-black);
        padding: 3rem 0;
        font-size: 1.2rem;
        font-weight: 600;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1rem;
        }

            
    }

    .footer-title {
        color: var(--color-white);
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 600;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            margin-top: 1.5rem;
        }

        }
    

    .footer-sub-title {
        padding: 2rem 0 0rem;
        font-weight: 600;
        color: var(--color-secondary);
        font-size: 1.4rem;
    }    

    .footer-text {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-bottom: 3rem;
            
        a {
            color: var(--color-secondary);
            margin-top: 0.5rem;
            display: block;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }    

    .footer-contact-text {


        i {
        color: var(--color-secondary);
        padding-right: 0.5rem;
        text-align: center;
        }

        a {
            color: var(--color-grey-3);
            font-size: 1.4rem;

            &:hover{
                color:var(--color-secondary)
            }

        }
    }   

    .office-time{

        ul{
            li {
            list-style: none;
            display: flex;
            color: var(--color-secondary);
            font-size: 2rem;
            line-height: 1.4rem;

            @media only screen and (min-width: $bp-large) {
                font-size: 1.2rem;
            }

                p {
                    font-size: 1.4rem;
                    margin-left: 0.5rem;
                    color: var(--color-grey-3);
                    line-height: 2rem;
                    width: 100%;

                    span {
                        float: right;
                    }

                    &:hover{
                        color: var(--color-secondary);
                    }
                }
            }
        }
    }

    .footer-follow {
        display: flex;
        color: var(--color-white);
        font-weight: 600;
        padding: 2.5rem 0;
        opacity: 0.8;
    
        a {
            color: var(--color-white);
            font-size: 1.1rem;
            padding: 0 1rem;

            &:hover{
                color: var(--color-secondary);
            }
        }
    }

    .powered-by {
        width: 15rem;
        background: var(--color-grey-2);
        border-radius: 0.8rem;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        transition: 0.5s all;

        &:hover{
            border-radius: 1.8rem;
        }
        
    }

    .footer-menu {
        width: 100%;
        text-align: right;

        @media only screen and (min-width: $bp-small) {
            text-align: center;
        }
        
        p {

            a {
            color: var(--color-grey-3);

                &:hover{
                    color: var(--color-secondary);
                }
            }

            span{
                padding: 0 0.8rem;
                font-weight: 900;
            }
        }
    }
}

.footer-padding {
    padding: 0 3rem;

    @media only screen and (max-width: $bp-small) {
        padding: 0;
    }
}

.backtotop {
    width: 3.5rem;
    height: 3.5rem;
    background: var(--color-blue);
    text-align: center;
    line-height: 3.5rem;
    color: var(--color-white);
    border-radius: 0.3rem;
    position: fixed;
    z-index: 2222222222;
    bottom: 6.5rem;
    right: 6.5rem;
    transition: 0.5s all;
    cursor: pointer;

    &:hover{
        background: var(--color-secondary);
    }
}

#backbtn{
    display: none;
}

@media only screen and (max-width: $bp-small) {
    .copywrite-text {
        text-align: center;
   }

   .footer-menu {
    text-align: center !important;
   }
}