#affiliate-hero {
    height: 600px;
    background-size: cover;
    background-position: center var(--headerHeight);
    background-repeat: no-repeat;
    position: relative;
  
    padding-top: var(--headerHeight);
  }
  
  #affiliate-hero .hero-copy {
    text-align: center;
    width: 100%;
  }

  #affiliate-hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  
  #affiliate-hero > * {
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .hero-subtitle {
    font-family: 'Dosis', sans-serif;
    font-size: 3.3rem;
  }
  
  @media screen and (max-width: 767px) {
    #affiliate-hero {
      max-height: 600px;
    }
  
    .hero-title {
      font-size: 4.8rem;
    }
  }
  
  .cta-affilate{
    flex: 1;
    justify-content: flex-end;
  }