.empty-section {
    height: 90px;
    background: whitesmoke;
}


.ready-section.curvy-section {
    background: var(--green);
    padding: 50px 0;
    position: relative;
}

.ready-title {
    font-size: 2.1rem;
    margin: 0;
    color:#ffffff;
}

@media only screen and (max-width: 767px)  {
    .ready-btn {
        margin-top: 15px;
    }

    .ready-section.curvy-section {
        padding: 25px 0;
    }

    .ready-section.curvy-section .container {
        text-align: center;
    }

    .empty-section {
        height: 45px;
        background: whitesmoke;
    }
    
}