.how-it-section {
    padding-bottom: 50px;
}

.chain-marketing img {
    width: 100%;
}

.next-step {
    font-size: 2.8rem;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

@media only screen and (max-width: 767px)  {
    .how-it-section {
        padding-bottom: 25px;
    }

    .chain-marketing {
        margin-top: 30px;
    }
    
}