.mfp-wrap.mfp-gallery.mfp-close-btn-in.mfp-auto-cursor.mfp-img-mobile.mfp-ready {
    position: fixed !important;
    z-index: 111;
    height: calc(100vh - var(--headerHeight)) !important;
    top: var(--headerHeight) !important;
    background: #00000070;
    width: 100%;
}

.mfp-content {
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 1s;
} 
  
@keyframes fadeIn{
0% {
    opacity:0;
}
100% {
    opacity:1;
}
}

html{
    margin: 0 !important;
    overflow-y: scroll !important;
}

button.mfp-close {
    position: absolute;
    right: 35px;
    top: -45px;
    font-size: 61px;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 0;
    color:#FFf;
}

.mfp-content figcaption {
    display:none;
}

button.mfp-arrow.mfp-arrow-left.mfp-prevent-close {
    top: 50%;
    transform: translate(-50%,-50%);
    left: calc(50% - 405px);
    position: relative;
    background: none;
    border: none;
}

.mfp-preloader {
    display: none;
}


a.single-product-image figure {
    margin: 0;
}

.mfp-container.mfp-s-ready.mfp-image-holder {
    height: 100%;
}

button.mfp-arrow.mfp-arrow-left.mfp-prevent-close:before {
    position: absolute;
    content: "\f100";
    font-size: 40px;
    font-family: FontAwesome;
    top: -40px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 32%);
    transition: all .3s;
}

button.mfp-arrow.mfp-arrow-right.mfp-prevent-close {
    top: 50%;
    transform: translate(-50%,-50%);
    right: calc(-50% - 370px);
    position: relative;
    background: none;
    border: none;
}


button.mfp-arrow.mfp-arrow-right.mfp-prevent-close:before {
    position: absolute;
    content: "\f101";
    font-size: 40px;
    font-family: FontAwesome;
    top: -40px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 32%);
    transition: all .3s;
}

img.mfp-img {
    border: 5px solid #fff;
}

@media only screen and (max-width: 991px)  {  

    .mfp-content {
        width: 620px;
    }

    button.mfp-arrow.mfp-arrow-left.mfp-prevent-close {
        left: calc(50% - 315px);
    }

    button.mfp-arrow.mfp-arrow-right.mfp-prevent-close {
        right: calc(-50% - 280px);
    }

}

@media only screen and (max-width: 767px)  {  

    .mfp-wrap.mfp-gallery.mfp-close-btn-in.mfp-auto-cursor.mfp-img-mobile.mfp-ready {
        display: none;
    }
    
}


